<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style_login.css">
    <script src="https://kit.fontawesome.com/39f3be7d68.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container_all">
        <div class="div_login">
            <img src="images/logo_history_black.png" alt="">
            <div class="div_email">
                <input class="inputs" type="text" id="ipt_email" placeholder="Email" >
                <i class="fa-regular fa-user fa-xl" style="color: rgb(113, 113, 113);"></i>
            </div>
            <div class="div_email">
                <input class="inputs" type="password" id="ipt_senha" placeholder="Senha" >
                <i class="fa-regular fa-eye-slash fa-xl" style="color: #717171;"></i>
            </div>
            <button class="btn_enter">Entrar</button>
            <a href="Cadastro.html"><h5>Não possui conta? Cadastre-se</h5></a>
        </div>
        
    </div>
</body>
</html>