@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body{
    margin: 0;
    font-family: "Raleway";
}
a{
        text-decoration: none;
    color: inherit;
}
.container_all{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../images/background_pergunta.png);
    background-size: cover;


}
.container_menu{
    width: 20%;
    height: 100%;
    background-color: #D9D9D9;
    border-top-right-radius : 20px;
    border-bottom-right-radius : 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container_menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
}
.container_menu li{
    width: 100%;
}
.btn_sair{
    border-bottom-right-radius: 20px;
    background-color: #494949;
}

.container_menu button{
    background: none;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 5%;
}



.container_menu button:hover{
    width: 100%;
    background-color: #494949;
}
.container_quest{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.section_quest{
    height: fit-content;
    width: 70%;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_quest h1{
    margin: 30px;
}
.section_buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.div_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div_button button{
    background: none;
    border: none;
    width: 10vw;
    height: 15vh;
}
.div_button button:hover{
    cursor: pointer;
    border-radius: 20px;
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.339), rgba(0, 0, 0, 0.653));
}
#next_quest{
    border: none;
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    width: 40%;
    height: 5vh;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family:"Raleway";
    font-size: 15px;
    color: aliceblue;
}

.menu_top{
    margin-top: 5vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}