@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html{
    scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: black;
  font-family: "Raleway";
  font-weight: 600;
}

a{
  text-decoration: none;
  color: inherit;

}
.container_top {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bg_video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg_video > video {
  margin-top: 7vh;
  width: 110%;
  height: 90%;
  animation: container-top 5000ms;
}
.div_nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div_nav img {
  width: 80px;
}
.nav_list {
  color: aliceblue;
  display: flex;
  list-style: none;
}
.nav_button {
  width: 8vw;
  height: 5vh;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.border_buttons {
  border-radius: 20px;
}
.nav_list li {
  padding: 5vh;
}

.effect {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 45vw;
  animation: container-top 1000ms;
  color: aliceblue;
  margin-top: 10vh;
}
.effect h1 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 200;
  
}

.effect h3 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: 200;

}
.icone_roll{
    height: 100%;
    align-self: center;
    display: flex;
}
.icone_roll a{
    align-self: end;
    width: 70px;
    height: 70px;
}
.icone_roll img {
    width: 70px;
    height: 70px;
}
.container_about_me{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}
.container_about_me h1{
    padding-top: 2vh;
    text-align: center;
    font-size: 70px;
    margin: 0;
}
.div_about_me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: aparecer-left 1000ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.div_about_me img{
    width: 350px;
}
.text_about_me {
    width: 50%;
    height: fit-content;
    font-size: 40px;
}
.text_about_me h4{
    padding: 0;
    margin: 0;
}
.container_about_project{
    width: 100vw;
    height: 100vh;
}
.div_about_project{
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: aparecer-direita 1000ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.container_about_project h1{
    padding-top: 2vh;
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: aliceblue;
}
.container_about_project_einstein{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;

}
.container_about_project_einstein h1{
    padding-top: 2vh;
    text-align: center;
    font-size: 60px;
    margin: 0;
    
}
.div_about_project_einstein{
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: aparecer-left 1000ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@media (min-width: 1500px) {
    .effect h3{
        margin-top: 0px;
        font-size: 70px;
    }
    .effect h1{
        font-size: 100px;
        margin-bottom: 0px;
    }
  }

  @keyframes container-top{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes aparecer-left{
    from{
        opacity: 0;
        translate: -100vw 0
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes aparecer-direita{
    from{
        opacity: 0;
        translate: +100vw 0
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}