body{
    margin: 0;
  overflow-x: hidden;

}
.container_all{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(29, 29, 29), rgb(42, 42, 42), rgb(73, 73, 73));
}
.div_login{
    width: 20%;
    height: 20%;
}